<p-table [columns]="cols" [value]="statusAtualNfe" *ngIf="statusAtualNfe" [responsive]="false" class="generic-table">
  <ng-template pTemplate="header">
    <tr>
      <!--<th style="width: 80px;">Versão</th>-->
      <th style="width: 115px;">Autorizador</th>
      <th style="width: 80px;">Status</th>
      <!--<th>Data/Hora consulta</th>-->
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-nfe>
    <tr>
      <!--<td>{{nfe.versao}}</td>-->
      <td>{{nfe.autorizador}}</td>
      <td [ngStyle]="{'color': verificaCorStatus(nfe.status)}" [attr.title]="verificaTitleStatus(nfe.status)"><i
        class="pi pi-circle-on" style="text-align: center;"></i></td>
      <!--<td>{{nfe.dataHoraStatus}}</td>-->
    </tr>
  </ng-template>
</p-table>